body, html {
    height: 100%;}

h1 {
    color: #712A68;
    font-family: 'Source Code Pro', monospace;
}

img {
    width: 10vw;
    height: 10vh;
}

/* Line Break */
hr.solid {
    border-top: 1px solid #712A68;
}


/* Nav Bar Name */
.name {
    margin: auto 10px;
    padding: 0px auto;
    background-color: #033A9F;
    color: white;
    font-family: 'Source Code Pro', monospace;
}

/* Background Image */
.bg {
    background-image: url("https://i.postimg.cc/tJVWZ2hp/Adobe-Stock-186509520.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Content Box */
.box{
    background-color: white;
    margin: 10% 0px;
    padding: 3% 3%;
    overflow:auto;
}

/* About Me Logo */
.logo {
height: 50%;
width: 40%;
margin: 0px 3%;
}

/* Portfolio Image Formatting */
.portfolio {
    margin: 2% 0 0 0;
}

/* Foot Formatting */
.footer {
    position: sticky;
    bottom: 0;
    height: 50px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2694B8;
}

/* Social Media Icons */
.fa {
    padding: 5px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
    background: lightgray;
    color: #033A9F;
  }

  .fa-instagram {
    background: lightgray;
    color: #AE04D5;
  }