body, html {
    height: 100%;}

h1 {
    font-family: 'Libre Baskerville', serif;
    display: block;
    text-align: center;
}

img {
    width: 10vw;
    height: 10vh;
}

/* Hidden spacer */
.hidden-spacer {
    height: 56px
}

/* Line Break */
hr.solid {
    border-top: 1px solid #712A68;
}


/* Nav Bar Name */
.name {
    margin: auto 10px;
    padding: 0px auto;
    font-family: 'Libre Baskerville', serif;
}

/* About Me Logo */
.logo {
height: 50%;
width: 40%;
display: block;
margin: 5vh auto;
}

/* Portfolio Image Formatting */
.portfolio {
    margin: 5vh 0 0 0;
    text-align: center;
}

/* Social Icons */
.socials {
    display: block;
    text-align: center;
    height: 5vh;
    width: 5vw;
}

/* Footer Formatting */
.footer {
    position: relative;
    bottom: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Landing Banner Image */
#landingBanner {
    height:80vh;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url('https://i.postimg.cc/tJn3VFky/Portfolio-Banner.png');
}

#contactBanner {
    height:80vh;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url('https://i.postimg.cc/Jn4Tn1n8/contact-Banner.jpg');
}

#portfolioBanner {
    height:80vh;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url('https://i.postimg.cc/HWtyzQB6/portfolio-Banner.jpg');
}

#portfolioImg {
    margin: 2vh auto;
}

@media only screen and (max-width: 600px) {

    #portfolioWrapper {
        height: 60vh;
    }
    #portfolioBanner {
        height: 50vh;
    }
    #landingBanner {
        height: 50vh;
    }
    #contactBanner {
        height: 50vh;
    }
    #portfolioImg {
        width: 40vw;
        height: 25vh;
        margin: 7vh auto;
    }
    #portfolioFoot {
        display: none;
    }
}